.box{
    height: 200px;
    width: 500px;
    border-radius:50px;
    border: 10px , solid , green;
    background: orange;
}
.button{
    margin:10px;
    height: 70px;
    background : lightblue;
}